<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Appenders>
        <RollingFile name="RollingFile" fileName="logs/hippodrome.log" filePattern="logs/hippodrome-%d{yyyy-MM-dd}.log">

            <PatternLayout>
                <pattern>%d %p %c{1.}: %m%n</pattern>
            </PatternLayout>
<!--            <DefaultRolloverStrategy>-->
<!--                <Delete …>-->
<!--                <IfFileName …/>-->
<!--                <IfLastModified …/>-->
<!--            </Delete>-->
<!--        </DefaultRolloverStrategy>-->
           <TimeBasedTriggeringPolicy />
       </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>